@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #333;
    --pink: #D2468C;
    --green: #46D28C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial;
    font-weight: 400;
    color: var(--black);
    line-height: 1.5;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}


.bold {
    font-weight: bold;
}

.medium {
    font-weight: 600;
}


button, a {
    all: unset
}

.flex{
    display: flex;
} 

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
} 

.big-gap {
    gap: 2rem;
}

.gap {
    gap: 1rem;
}

.small-gap {
    gap: 8px;
}

.radius {
    border-radius: 8px;
}

.small-radius {
    border-radius: 8px;
}

/* GENERAL ANIMATIONS */

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ANIMATION CLASSES */

.zoom-in-fast {
    animation: zoomIn 0.5s ease-in-out forwards;
}

.zoom-in-slow {
    animation: zoomIn 1s ease-in-out forwards;
}

.fade-in-down {
    animation: fadeInDown 1s ease-in-out forwards;
}


.fade-in-right {
    animation: fadeInRight 1.5s ease-in-out forwards;
}

.portfolio-divider, .profile-image, .self-description, .resume-button, .skills, .experience-container, .projects-container {
    opacity: 0; 
}

/* PORTFOLIO */

.portfolio-container {
    width: 100%;
}

.portfolio {
    width: 1200px;
}


.scroll-down {
    position: fixed;
    bottom: 10rem;
    right: 4rem;
    width: fit-content;
    height: 380px;
    overflow: hidden;
}

.scroll-line {
    height: 100%;
    width: 1px;
    background-color: #616162;
    transform: translateY(-100%);
    animation: growLine 2s ease-out forwards;
    animation-delay: 2.5s;
}

.scroll-text {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 4.5s; 
}

.scroll-text h4 {
    color: #616162;
}

@keyframes growLine {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shrinkLine {
    0% {
        transform: scaleY(1); /* Full height */
        transform-origin: bottom; /* Scale from the top */
    }
    100% {
        transform: scaleY(0); /* Shrink to zero height */
        transform-origin: bottom; /* Scale from the top */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.scroll-down.hidden {
    display: none;
}


.scroll-line.shrink {
    animation: shrinkLine 1.4s forwards;
    transform-origin: top;
}

.scroll-text.fade-out {
    animation: fadeOut 0.4s ease-in forwards;
}



.portfolio-divider {
    height: 5vh;
    width: 100%;
    margin: 3rem 0;
}

.portfolio-divider h2{
    display: flex;
    color: var(--pink);
}

.portfolio-divider h2:before,h2:after {
   content: "";
   flex: 1 1;
   border-bottom: 3px solid var(--pink);
   margin: auto;
}

.portfolio-divider h2:before {
    margin-right: 2rem;
}

.portfolio-divider h2:after {
    margin-left: 2rem;
}

/* ABOUT */

.about {
    justify-content: space-between;
    height: 100vh;
    width: 100%
}

.profile{
    height: 450px;
    padding-left: 1rem;
}

.profile-image {
    height: 350px;
    box-shadow: -1rem 1rem 0px var(--black);
    border: 1px solid var(--black);
    transition: box-shadow 0.3s ease-in-out; /
}

.profile-image:hover {
    box-shadow: unset;
}

.self-description {
    height: 450px;
    width: 800px;
    text-align: justify
}

.greetings-container{
    display: inline-block;
    width: fit-content;
}

.greetings {
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
    border-right: 8px solid var(--black);
    animation: typing 1.5s steps(15), cursor .6s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent}
}

@keyframes typing {
    from { width: 0}    
}


.resume-button {
    padding: 1rem;
    background: var(--green);
    border: 5px solid transparent;
    cursor: pointer;
    transition: background 0.3s ease; 
    animation-delay: 1.4s;
}

.resume-button:hover {
    color: var(--green);
    background: unset;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    border: 5px solid var(--green);
}

.resume-button h3 {
    text-transform: uppercase;
    color: white;
    transition: color 0.3s ease; 
}

.resume-button:hover h3{
    color: var(--green);
}

.resume-button svg path {
    transition: fill 0.3s ease; 
}

.resume-button:hover svg path {
    fill: var(--green);
}

.resume-button:active {
    transform: scale(0.85);
}

/* SKILLS */

.skills {
    width: 100%;
}


.skills-tab {
    cursor: pointer;
}

.skills-tab h4 {
    text-transform: uppercase;
    color: var(--pink);
}

.all-skills-container {
    align-items: flex-start;
    width: 100%;
    min-height: 180px;
    position: relative;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 180px; 
    width: 140px; 
    padding: 1rem;
    border: 3px solid #d3d3d3;
    border-radius: 8px;
    position: absolute;
    transition: all 0.5s ease;
    opacity: 1;
    transform: scale(1);
}

.skills-container.hidden {
    opacity: 0;
    transform: scale(0.5);
}




.skills-image {
    width: 60px;
    height: 60px;
}

.skills-name {
    font-weight: bold;
}
/* EXPERIENCE */

.experience {
    width: 100%;
}

.experience-container {
    width: 100%;
}

.experience-container h4{
    text-align: justify;
}

.experience-company {
    color: var(--pink);
    transition: color 0.5s ease;
    cursor: pointer;
}

.experience-company:hover {
    color: var(--green);
}

.experience-skill-list {
    margin-top: 8px;
}

.experience-skill {
    padding: 8px 1rem;
    background: var(--black);
}

.experience-skill p {
    color: white;
    transition: color 0.5s ease;
}

.uadmin {
    cursor: pointer;
}

.uadmin:hover p{
    color: var(--green);
}

.uadmin:active {
    transform: scale(0.85);
}

/* PROJECTS */

.projects-container {
    width: 570px;
  }
  
  .projects-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  }


.projects-description {
    width: 100%;
}

.projects-skill {
    width: fit-content;
    padding: 8px 1rem;
    background: var(--black);
}

.projects-skill-list, .projects-actions {
    margin-top: 8px;
}

.no-view-text {
    display: none;
}


.projects-website-button, .projects-documentation-button {
    width: fit-content;
    padding: 10px;
    background: var(--black);
}

.projects-code-button {
    width: fit-content;
    padding: 10px;
    background: var(--green);
}

.projects-button {
    border-radius: 8px;
    border: 5px solid transparent;
    cursor: pointer;
    transition: background 0.3s ease; 
}

.projects-button h4 {
    transition: color 0.3s ease; 
}

.projects-button h4, .projects-skill p {
    color: white;
    font-weight: bold;
}

.projects-website-button:hover, .projects-documentation-button:hover {
    color: var(--black);
    background: unset;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    border: 5px solid var(--black);
}

.projects-code-button:hover {
    color: var(--green);
    background: unset;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    border: 5px solid var(--green);
}

.projects-website-button:hover h4, .projects-documentation-button:hover h4{
    color: var(--black);
}

.projects-code-button:hover h4 {
    color: var(--green);
}

.projects-button:active {
    transform: scale(0.85);
}


/* FOOTER */

.social-links {
    position: fixed;
    left: 4rem;
    bottom: 12rem;
    width: 50px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin-left: 10px;
    height: 72px;
    width: 72px;
    border-radius: 50px;
    border: none;
    background: white;
    transition: 0.1s;
    cursor: pointer;
    overflow: visible;
}

.social-media svg path {
    transition: fill 0.5s ease;
    fill: var(--black);
}

.social-media:hover svg path {
    fill: white;
}

.social-media:active {
    transform: scale(0.85);
}

.social-media::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #1877f2;
    border-radius: 50px;
    z-index: -1;
    border: 0px solid rgba(255, 255, 255, 0.411);
    transition: 0.4s;
}

.social-media.facebook::before {
    background: #1877f2;
}

.social-media.github::before {
    background: var(--black);
}

.social-media.linkedin::before {
    background: rgb(10, 102, 194);
}

.social-media.gmail::before {
    background: #ff4343;
}

.social-media:hover::before {
    width: 78px;
    height: 78px;
}

.social-media::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #1877f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;
}

.social-media.facebook::after {
    color: #1877f2;
}

.social-media.github::after {
    color: var(--black);
}

.social-media.linkedin::after {
    color: rgb(10, 102, 194);
}

.social-media.gmail::after {
    color: #ff4343;
}

@keyframes slideFromBehind {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(10px);
    }
}

.social-media:hover::after {
    animation: slideFromBehind 0.5s forwards ease;
}

.footer {
    margin-top: 3rem;
    padding: 2rem;
    background-color: var(--black);
}

.footer p {
    color: white;
}

.iconify-link {
    cursor: pointer;
}

.iconify-link:hover {
    color: var(--green);
}

/* RESPONSIVE */

@media (max-width: 1800px) {

    .social-media:hover::after {
        animation: unset;
    }

}

@media (max-width: 1600px) {

    .scroll-down {
        display: none;
    }
    
    .social-links {
        position: unset;
        flex-direction: unset;
        gap: 2rem;
        margin-bottom: 1rem;
        bottom: unset;
        left: unset;
        width: auto;
    }

    .social-media {
        margin: 0;
        position: relative;
        height: 3rem;
        width: 3rem;
        background: unset;
    }

    .social-media svg path {
        fill: white;
    }

    .social-media:hover svg path {
        fill: var(--green);
    }

    .social-media::before {
        width: unset;
        height: unset;
    }

    .social-media:hover::before {
        width: unset;
        height: unset;
    }

    .social-media::after {
        display: none;
    }

    
}

@media (max-width: 1264px) {

    .portfolio {
        width: 100%;
        padding: 0 2rem;
    }

}

@media (max-width: 1200px) {

    .projects {
        justify-content: center;
    }

    .skills-container {
        height: 160px; 
        width: 120px; 
    }

    .skills-container h4{
        font-size: 18px;
    }
    

}

@media (max-width: 866px) {

    .about {
        flex-direction: column;
        justify-content: center;
        margin: 2rem 0;
    }

    .profile {
        height: unset;
        margin-bottom: 1rem;
    }

    .self-description {
        height: unset;
        width: 500px;
        align-items: center;
    }

    .skills-container {
        height: 140px; 
        width: 100px;
    }

    .skills-container h4{
        font-size: 16px;
    }

    .skills-image, .skills-image svg {
        width: 40px;
        height: 40px;
    }
    
}

@media (max-width: 634px) {

    .view-text {
        display: none;
    }

    .no-view-text {
        display: block;
    }

}

@media (max-width: 568px) {
    
    h3 {
        font-size: 26px;
    }

    .self-description {
        width: 100%;
    }

    .skills-container {
        height: 120px; 
    }  
    
}

@media (max-width: 532px) {
    
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    .profile-image {
        height: 330px;
    }
    
}

@media (max-width: 496px) {

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 16px;
    }
    
    h3 {
        font-size: 14px;
    }
    
    h4 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }

    .portfolio-divider {
        margin: 2rem 0;
    }

    .profile-image {
        height: 260px;
    }

    .self-description {
        width: 350px;
    }

    .experience-skill-list, .projects-skill-list {
        margin-top: unset;
        gap: 8px;
    }


    .skills-container {
        height: 80px; 
        width: 80px;
    }

    .skills-container h4{
        font-size: 12px;
    }

    .skills-image, .skills-image svg {
        width: 25px;
        height: 25px;
    }

    .view-text {
        display: block;
    }

    .no-view-text {
        display: none;
    }

}

@media (max-width: 448px) {

    .view-text {
        display: none;
    }

    .no-view-text {
        display: block;
    }

}

@media (max-width: 414px) {
    .self-description {
        width: 100%;
    }
}

@media (max-width: 350px) {

    .projects-button {
        padding: 10px 5px;
    }

    .skills-container {
        height: 70px; 
        width: 70px;
    }

    .skills-container h4{
        font-size: 10px;
    }

}
