@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #333;
    --pink: #D2468C;
    --green: #46D28C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--black);
}

/* Display */

.flex{
    display: flex;
} 

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
} 

/* Text */


h1, .text-large {
    font-size: 32px;
}

h2, .text-semi-large {
    font-size: 28px;
}

h3, .text-medium {
    font-size: 20px;
}



.bold {
    font-weight: bold;
}

.medium {
    font-weight: 500;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

/* Gap */

.huge-gap {
    gap: 4rem;
}

.bigger-gap {
    gap: 3rem;
}

.big-gap {
    gap: 2rem;
}

.gap {
    gap: 1rem;
}

.small-gap {
    gap: 8px;
}

/* Radius */

.radius {
    border-radius: 16px;
}

.small-radius {
    border-radius: 8px;
}

.big-radius {
    border-radius: 32px;
}

/* Button, a */

button, a {
    all: unset
}

/* Cursor */

.pointer {
    cursor: pointer;
}

/* Others */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
}

.disabled-wrapper {
    cursor: not-allowed; 
}

.disabled {
    opacity: 0.5; 
    pointer-events: none; 
}

/* General animations */

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation classes */

.zoom-in-fast {
    animation: zoomIn 0.5s ease-in-out forwards;
}

.zoom-in-slow {
    animation: zoomIn 1s ease-in-out forwards;
}

.fade-in-down {
    animation: fadeInDown 1s ease-in-out forwards;
}

.fade-in-right {
    animation: fadeInRight 1.5s ease-in-out forwards;
}

.portfolio-divider, .profile-image, .self-description, .resume-button, .skills, .experience-container, .projects-container {
    opacity: 0; 
}

/* Scroll animation */

.scroll-down {
    position: fixed;
    bottom: 10rem;
    right: 4rem;
    width: fit-content;
    height: 380px;
    overflow: hidden;
}

.scroll-line {
    height: 100%;
    width: 1px;
    background-color: #616162;
    transform: translateY(-100%);
    animation: growLine 2s ease-out forwards;
    animation-delay: 2.5s;
}

.scroll-text {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 4.5s; 
}

.scroll-text {
    color: #616162;
}

@keyframes growLine {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shrinkLine {
    0% {
        transform: scaleY(1); /* Full height */
        transform-origin: bottom; /* Scale from the top */
    }
    100% {
        transform: scaleY(0); /* Shrink to zero height */
        transform-origin: bottom; /* Scale from the top */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.scroll-down.hidden {
    display: none;
}


.scroll-line.shrink {
    animation: shrinkLine 1.4s forwards;
    transform-origin: top;
}

.scroll-text.fade-out {
    animation: fadeOut 0.4s ease-in forwards;
}

/* Portfolio */

.portfolio-container {
    width: 100%;
}

.portfolio {
    width: 1000px;
}

/* Portfolio Divider */

.portfolio-divider {
    height: 5vh;
    width: 100%;
    margin: 3rem 0;
}

.portfolio-divider h2{
    display: flex;
    color: var(--pink);
}

.portfolio-divider h2:before,h2:after {
   content: "";
   flex: 1 1;
   border-bottom: 3px solid var(--pink);
   margin: auto;
}

.portfolio-divider h2:before {
    margin-right: 2rem;
}

.portfolio-divider h2:after {
    margin-left: 2rem;
}

/* ABOUT */

.about {
    height: 100vh;
    width: 100%
}

.profile{
    height: 400px;
    padding-left: 1rem;
}

.profile-image {
    height: 300px;
    box-shadow: -1rem 1rem 0px var(--black);
    border: 1px solid var(--black);
    transition: box-shadow 0.3s ease-in-out; 
}

.profile-image:hover, .profile-image:active {
    box-shadow: unset;
}

.self-description {
    width: 650px;
    text-align: justify
}

.greetings-container{
    display: inline-block;
    width: fit-content;
}

.greetings {
    display: inline-block;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
    border-right: 6px solid var(--black);
    animation: typing 1.3s steps(13), cursor .6s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent}
}

@keyframes typing {
    from { width: 0}    
}


.resume-button {
    padding: 12px 1rem;
    color: white;
    background: var(--green);
    border: 5px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    transition: background 0.3s ease; 
    animation-delay: 1.4s;
    transition: color 0.3s ease; 
}

.resume-button:hover {
    color: var(--green);
    background: unset;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    border: 5px solid var(--green);
}

.resume-button svg path {
    transition: fill 0.3s ease; 
}

.resume-button:hover svg path {
    fill: var(--green);
}

.resume-button:active {
    transform: scale(0.85);
}

/* SKILLS */

.skills, .all-skills-container {
    width: 100%;
}

.all-skills-container {
    justify-content: space-evenly;
}

/* EXPERIENCE */

.experience, .experience-container {
    width: 100%;
}

.experience-container p{
    text-align: justify;
}

.experience-company {
    color: var(--pink);
    transition: color 0.5s ease;
}

.experience-company:hover {
    color: var(--green);
}

.experience-company svg path {
    transition: fill 0.3s ease; 
}

.experience-company:hover svg path {
    fill: var(--green);
}

.experience-skill {
    padding: 8px 1rem;
    background: var(--black);
}

.experience-skill {
    color: white;
    transition: color 0.5s ease;
}

.uadmin:hover{
    color: var(--green);
}

.uadmin:active {
    transform: scale(0.85);
}

/* PROJECTS */
.projects {
    padding: 0 2rem;
}

.projects-image-container {
    padding: 2rem 0;
    margin: auto;
}
  
.projects-image {
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

.projects-skill-list {
    font-size: 12px;
}

.projects-skill {
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 8px 1rem;
    background: var(--black);
}

.projects-website-button, .projects-codes-button, .projects-documentation-button {
    transition: color 0.5s ease;
}

.projects-website-button svg path, .projects-codes-button svg path {
    transition: fill 0.5s ease; 
}

.projects-documentation-button svg path {
    transition: stroke 0.5s ease; 
}

.projects-codes-button {
    color: var(--pink);
}

.projects-website-button:hover, .projects-codes-button:hover, .projects-documentation-button:hover {
    color: var(--green);
}

.projects-website-button:hover svg path, .projects-codes-button:hover svg path {
    fill: var(--green);
}

.projects-documentation-button:hover svg path {
    stroke: var(--green);
}


/* FOOTER */

.footer {
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    color: white;
    background-color: var(--black);
}

.social-links {
    position: fixed;
    left: 4rem;
    bottom: 12rem;
    width: 50px;
}

.social-media {
    position: relative;
    z-index: 0;
    height: 72px;
    width: 72px;
    border-radius: 50px;
    border: none;
    background: white;
    transition: 0.1s;
    overflow: visible;
}

.social-media svg path {
    transition: fill 0.5s ease;
    fill: var(--black);
}

.social-media:hover svg path {
    fill: white;
}

.social-media:active {
    transform: scale(0.85);
}

/* Sets the social media button effect to 0px and positioned behind the button */
.social-media::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #1877f2;
    border-radius: 50px;
    z-index: -1;
    border: 0px solid rgba(255, 255, 255, 0.411);
    transition: 0.4s;
}

.social-media.facebook::before {
    background: #1877f2;
}

.social-media.linkedin::before {
    background: rgb(10, 102, 194);
}

.social-media.github::before {
    background: var(--black);
}

.social-media.gmail::before {
    background: #ff4343;
}

/* Expands the circle around the social media button */
.social-media:hover::before {
    width: 70px;
    height: 70px;
}

/* Displays the tooltip sliding from behind to the right of the button */
.social-media::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #1877f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;
}

.social-media.facebook::after {
    color: #1877f2;
}

.social-media.linkedin::after {
    color: rgb(10, 102, 194);
}

.social-media.github::after {
    color: var(--black);
}

.social-media.gmail::after {
    color: #ff4343;
}

@keyframes slideFromBehind {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(10px);
    }
}

.social-media:hover::after {
    animation: slideFromBehind 0.5s forwards ease;
}

.iconify-link:hover {
    color: var(--green);
}

/* RESPONSIVE */

@media (max-width: 1600px) {

    .social-media:hover::after {
        animation: unset;
    }

}

@media (max-width: 1400px) {

    .scroll-down {
        display: none;
    }
    
    .social-links {
        position: unset;
        flex-direction: unset;
        gap: 2rem;
        margin-bottom: 1rem;
        bottom: unset;
        left: unset;
        width: auto;
    }

    .social-media {
        margin: 0;
        position: relative;
        height: 3rem;
        width: 3rem;
        background: unset;
    }

    .social-media svg path {
        fill: white;
    }

    .social-media:hover svg path {
        fill: var(--green);
    }

    .social-media::before {
        width: unset;
        height: unset;
    }

    .social-media:hover::before {
        width: unset;
        height: unset;
    }

    .social-media::after {
        display: none;
    }

    
}

@media (max-width: 1064px) {

    .portfolio {
        width: 100%;
        padding: 0 2rem;
    }

    .projects {
        padding: 0px;
    }

}

@media (max-width: 786px) {

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .profile {
        height: unset;
        margin-bottom: 1rem;
    }

    .self-description {
        width: 500px;
        align-items: center;
    }
    
}

@media (max-width: 690px) {

    .projects-image {
        width: 200px;
    }

    .projects-container {
        gap: 2rem;
    }

    .projects-description {
        gap: 1rem;
    }

}

@media (max-width: 610px) {
    h2, .text-semi-large {
        font-size: 22px;
    }

    h3, .text-medium {
        font-size: 18px;
    }

    p, span {
        font-size: 14px;
    }

    .projects-skill {
        padding: 6px 14px;
    }

}

@media (max-width: 590px) {

    .self-description {
        width: 100%;
    }

    .projects {
        text-align: center;
        gap: 4rem;
    }

    .projects-cupmatch-container {
        flex-direction: column;
    }

    .projects-restaurant-container {
        flex-direction: column-reverse;
    }

    .projects-portfolio-container {
        flex-direction: column;
    }

    .projects-image-container {
        padding: 0;
    }

    .projects-container {
        gap: 2rem;
    }

    .projects-description {
        gap: 2rem;
    }

    .projects-skill-list {
        justify-content: center;
    }

    .projects-actions {
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 496px) {

    h2, .text-semi-large {
        font-size: 20px;
    }

    h3, .text-medium {
        font-size: 16px;
    }

    p, span {
        font-size: 12px;
    }

    .projects-skill {
        padding: 4px 12px;
    }

    .portfolio-divider {
        margin: 2rem 0;
    }

    .profile-image {
        height: 220px;
        box-shadow: -10px 10px 0px var(--black);
    }

    .self-description {
        width: 350px;
    }

}


@media (max-width: 414px) {
    .self-description {
        width: 100%;
    }


}


@media (max-width: 386px) {

    .text-semi-large {
        font-size: 18px;
    }

}

@media (max-height: 570px) {

    h2, .text-semi-large {
        font-size: 16px;
    }

    h3, .text-medium {
        font-size: 14px;
    }

    p, span {
        font-size: 12px;
    }

    .about{
        gap: 1rem;
    }

    .profile-image {
        height: 200px;
    }

}

@media (max-height: 460px) {

    .about {
        height: 460px;
        padding: 1rem;
    }
}